@font-face {
    font-family: 'Byron Sans';
    src: url('./fonts/Graphik-Regular.woff2') format('woff2');
    font-display: swap;
}

body,
html {
    font-size: 1rem;
    @apply font-sans;
    @apply bg-byron-background;
    @apply text-byron-text;

    max-width: 70ch;
    padding: 1ch;
    margin: auto;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
    font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'cv10', 'cv06';
}
