@import url('https://rsms.me/inter/inter.css');

body,
html {
    font-size: 1rem;
    @apply font-sans;
    @apply bg-byron-background;
    @apply text-byron-text;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
    font-feature-settings: 'kern', 'liga', 'clig', 'calt', 'cv10', 'cv06';
}

.layout {
    max-width: 70ch;
    padding: 2ch;
    padding-top: 3ch;
    margin: auto;
}

.back {
    position: absolute;
    top: -4ch;
}

.tabular {
    font-feature-settings: 'tnum';
}

.drug {
    background-color: #ffffff;
    top: 10ch;
    padding: 2ch;
}
